@font-face {
    font-family: 'Object Sans';
    src: url('ObjectSans-Bold.eot');
    src: url('ObjectSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('ObjectSans-Bold.woff2') format('woff2'),
        url('ObjectSans-Bold.woff') format('woff'),
        url('ObjectSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

