@import "tailwindcss";
@plugin "daisyui";
@font-face {
    font-family: notoBold;
    src: url(../fonts/noto/bold/NotoSans-Bold.eot),  url(../fonts/noto/bold/NotoSans-Bold.ttf), url(../fonts/noto/bold/NotoSans-Bold.woff), url(../fonts/noto/bold/NotoSans-Bold.woff2);
}
@font-face {
    font-family: notoRegular;
    src: url(../fonts/noto/regular/NotoSans-Regular.eot),  url(../fonts/noto/regular/NotoSans-Regular.ttf), url(../fonts/noto/regular/NotoSans-Regular.woff) url(../fonts/noto/regular/NotoSans-Regular.woff2);
}
@font-face {
    font-family: objectBold;
    src: url(../fonts/object/bold/ObjectSans-Bold.eot), url(../fonts/object/bold/ObjectSans-Bold.ttf), url(../fonts/object/bold/ObjectSans-Bold.woff), url(../fonts/object/bold/ObjectSans-Bold.woff2);
}
@font-face {
    font-family: objectMedium;
    src: url(../fonts/object/medium/ObjectSans-Medium.eot), url(../fonts/object/medium/ObjectSans-Medium.ttf), url(../fonts/object/medium/ObjectSans-Medium.woff), url(../fonts/object/medium/ObjectSans-Medium.woff2);
}
@font-face {
    font-family: objectRegular;
    src: url(../fonts/object/regular/ObjectSans-Regular.eot), url(../fonts/object/regular/ObjectSans-Regular.ttf), url(../fonts/object/regular/ObjectSans-Regular.woff), url(../fonts/object/regular/ObjectSans-Regular.woff2);
}